<body style="text-align: center;">
    <p style="font-size:60pt">Test Page</p>
    <p style="font-size:30pt" >WAS Test : <span id="was"></span></p>
    <p style="font-size:30pt" >DB Test : <span id="db"></span></p>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        $('document').ready(function() {
            $.ajax({ 
                url: 'https://api.bieber-demo.tk/db',
                success: function(data) {
                    $('#db').html(data[0]['data']);
                }
            })

            $.ajax({ 
                url: 'https://api.bieber-demo.tk/was',
                success: function(data) {
                    $('#was').html(data);
                }
            })
        })
    </script>
</body>